.produto-moda{
    background-color: #BB86FC;
    color: #fff;
    margin: 20px;
    padding: 10px;
}

.produto-casa{
    background-color: #00C4B4;
    color: #fff;
    margin: 20px;
    padding: 10px;
}

.cor-de-fundo{
    background-color: #424250;
    color: #fff;
    margin: 10px;
    padding: 5px;
}